In [82]:
import numpy as np
import pandas as pd
from math import factorial

In [83]:
rng = np.random.default_rng()
df1 = pd.DataFrame(rng.integers(-1000, 5000, size=(9000, 4)))
df2 = pd.DataFrame(rng.random((9000, 3)))

data = pd.concat([df1, df2], axis=1)

data.columns = [x for x in range(7)]
data.to_csv('stanislavchuk', sep='\t', index=False)
data

         0     1     2     3         4         5         6
0     2867  2113   340   -13  0.142113  0.182534  0.274876
1     3864   945   720   565  0.637846  0.501886  0.906748
2     4768  1341  1335  -134  0.032407  0.544770  0.975573
3      564   533  3592  3182  0.968835  0.776475  0.937669
4     3375  4464  4911  -994  0.366672  0.862181  0.956159
...    ...   ...   ...   ...       ...       ...       ...
8995  1101  -693   -32  2910  0.234467  0.843310  0.094626
8996   375  3627  -735  -249  0.222286  0.652072  0.754495
8997  1008  -720  4279   566  0.330246  0.983772  0.831822
8998  1994  4120  1946  4497  0.841984  0.689501  0.570957
8999  1836  4245  4897  3795  0.890255  0.709193  0.998748

[9000 rows x 7 columns]

In [84]:
df = data

for i in range(100):
    df.at[np.random.randint(0, 9000), rng.integers(0,7)] /= 2
    df.at[np.random.randint(0, 9000), rng.integers(0,7)] = None

df.to_csv('stanislavchuk_corrupted', sep='\t', index=False)
df

           0       1       2       3         4         5         6
0     2867.0  2113.0   340.0   -13.0  0.142113  0.182534  0.274876
1     3864.0   945.0   720.0   565.0  0.637846  0.501886  0.906748
2     4768.0  1341.0  1335.0  -134.0  0.032407  0.544770  0.975573
3      564.0   533.0  3592.0  3182.0  0.968835  0.776475  0.937669
4     3375.0  4464.0  4911.0  -994.0  0.366672  0.862181  0.956159
...      ...     ...     ...     ...       ...       ...       ...
8995  1101.0  -693.0   -32.0  2910.0  0.234467  0.843310  0.094626
8996   375.0  3627.0  -735.0  -249.0  0.222286  0.652072  0.754495
8997  1008.0  -720.0  4279.0   566.0  0.330246  0.983772  0.831822
8998  1994.0  4120.0  1946.0  4497.0  0.841984  0.689501  0.570957
8999  1836.0  4245.0  4897.0  3795.0  0.890255  0.709193  0.998748

[9000 rows x 7 columns]

In [85]:
def process_data(df):
    medium_value = sum(df[4] + df[5] + df[6]) / (len(df[4]) + len(df[5]) + len(df[6]))
    print('Medium 4:6: ', medium_value)
    min_int_value = (sum(df[0]) + sum(df[1]) + sum(df[2]) + sum(df[3])) % 100
    print(min_int_value)
    print('Factorial of min % 100 of 0:4: ', factorial(min_int_value))


def map_data(df):
    # df.isnull
    # df.ge
    # df.dtypes
    # df.empty

    df_int = df[df.isin(range(-1000, 5000))]
    df_int.fillna(value=0, inplace=True)
    df_int.drop(df_int.iloc[:, 4:7], axis=1, inplace=True)
    df_int = df_int.convert_dtypes()

    df_float = df[(df < 1.) & (df > -1.)]
    df_float.fillna(value=0, inplace=True)
    df_float.drop(df_float.iloc[:, :4], axis=1, inplace=True)

    df_filtered = pd.concat([df_int, df_float], axis=1)

    print(df_filtered)

    return df_filtered

In [86]:
clear_data = map_data(df)
clear_data.to_csv('stanislavchuk_cleared', sep='\t', index=False)

process_data(clear_data)

         0     1     2     3         4         5         6
0     2867  2113   340   -13  0.142113  0.182534  0.274876
1     3864   945   720   565  0.637846  0.501886  0.906748
2     4768  1341  1335  -134  0.032407  0.544770  0.975573
3      564   533  3592  3182  0.968835  0.776475  0.937669
4     3375  4464  4911  -994  0.366672  0.862181  0.956159
...    ...   ...   ...   ...       ...       ...       ...
8995  1101  -693   -32  2910  0.234467  0.843310  0.094626
8996   375  3627  -735  -249  0.222286  0.652072  0.754495
8997  1008  -720  4279   566  0.330246  0.983772  0.831822
8998  1994  4120  1946  4497  0.841984  0.689501  0.570957
8999  1836  4245  4897  3795  0.890255  0.709193  0.998748

[9000 rows x 7 columns]
Medium 4:6:  0.49953024695070686
70
Factorial of min % 100 of 0:4:  11978571669969891796072783721689098736458938142546425857555362864628009582789845319680000000000000000